:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  filter: invert(1) hue-rotate(180deg);
}

@media (prefers-color-scheme: dark) {
  canvas {
    filter: none;
  }
}
